.headers{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
}
.overviewproducts{
    display: flex;
    background-color: white;
    border: 1px solid rgb(243, 242, 242);
}
.picture{
    width:20%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.overviewdetails{
    width: 75%;
    padding: 10px;
    text-align: left;
    margin-left: 10px;
}
.editcart{
    width: 100%;
    border: 1px solid rgb(243, 242, 242);
    padding: 10px;
    background-color: white;
    margin-bottom: 50px;
}
.footer{
    text-align: left;
}