
h3{
    font-weight: 500;
    font-size: 20px;
}
.fulldisplay{
    background-color: rgb(242, 241, 241);
    width: 100%;
   
    border: 1px solid white;
    height:100vh
}

.cart{
    width: 80%;
    /* height: 100vh; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom:5dvw;
    
}
.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 500px;
    overflow-y: scroll;
  
}
.selectedProductCard{
    display: flex;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
 
}
.productimage{
    width: 25%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.cartproductdetails{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 10px;
}
.part1{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.part2{
    text-align: right;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}


.billing{
   width: 47%;
   /* height: 94vh; */
    text-align: left;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}
.net{
    width: 80%;
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
}
.net h2{
    margin-bottom: 30px;
}
.netinput{
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    width: 100%;
}
.netinput:focus{
    outline:none
}
.parts{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.parts5{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: rgba(212, 18, 86, 0.984);
    font-size: 20px;
    font-weight: 500;
}

.buybutton{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    background-color:rgba(212, 18, 86, 0.984) ;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}
.confirmbutton1{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 800 ;
    background-color:rgba(56, 145, 36, 0.909) ;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}

/*medium screen*/

 @media screen and (min-width:600px) and (max-width:1000px){
    .cart{
        width: 80%;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
    }
    .products{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .selectedProductCard{
        display: flex;
        width: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        background-color: white;
    }
    .billing{
        width: 100%;
         text-align: left;
         padding: 20px;
         box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
         background-color: white;
     }
} 

/*small screen*/

@media screen and (min-width:100px) and (max-width:599px){
    .fulldisplay{
        background-color: rgb(242, 241, 241);
        width: 100%;
        border: 1px solid white;

    }
    .cart{
        width: 90%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
    }
    .products{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .selectedProductCard{
        display: flex;
        width: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        background-color: white;
        
    }
    .billing{
        width: 100%;
         text-align: left;
         padding: 10px;
         box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
         background-color: white;
     }
     .parts{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .parts5{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: rgba(212, 18, 86, 0.984);
        font-size: 20px;
        font-weight: 500;
    }
    
    .buybutton{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        color: white;
        font-size: 25px;
        font-weight: 600;
        background-color:rgba(212, 18, 86, 0.984) ;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 5px;
    }
    
} 